@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  scroll-behavior: smooth;
}

.left-btn {
  color: #f9f9f9;
  background-color: #171a20cc;
  cursor: pointer;
}
.right-btn {
  color: #020202;
  background-color: #f9f9f9;
  cursor: pointer;
}
